<section class="vh-100" style="background-color: #ffffff00;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
          <!-- Bind the form to loginForm and invoke logIn() method -->
              <form [formGroup]="loginForm" (ngSubmit)="logIn">
                <h1>Login</h1>
                <div class="mb-3 mt-3">
                  <!-- Create input fields with appropriate labels and formcontrols for Email Address -->
                  <label for="email" id="mail">Email</label>
                  <input id="mail" type="email" class="form-control" placeholder="enter your mail" formControlName="email">
                  <div  class="text-danger" *ngIf="loginForm.controls.email.dirty && loginForm.controls.email.invalid">
                    <!-- Message for required error ==> This field is required -->
                   <!-- Message for correct format email error ==> The correct email is required -->
                   <span *ngIf="loginForm.controls.email.errors.required">Field is required</span>
                   <span *ngIf="loginForm.controls.email.errors.pattern">The correct email is required </span>
                  </div>
                </div>
                <div class="mb-3">
                   <!-- Create input fields with appropriate labels and formcontrols for Password -->
                   <label for="password" id="pwd">Password</label>
                  <input id="pwd" type="password" class="form-control" placeholder="enter your password" formControlName="password">
                 <div class="text-danger" *ngIf="loginForm.dirty && loginForm.invalid">
                  <!-- Message for required error ==> This field is required -->
                   <!-- Message for correct format password error ==> The correct password is required -->
                   <span *ngIf="loginForm.controls.password.errors.required">This field is required</span>
                   <span *ngIf="loginForm.controls.password.errors.pattern">The correct password is required</span>
                   <span *ngIf="loginForm.controls.password.errors.minlength">Minimum of 7 characters required</span>
                   <span *ngIf="loginForm.controls.password.errors.maxlength">maximum of 20 characters</span>
                   </div>
                </div>
                <div class="mb-3 form-check">
                  <!-- given input and label fields for remember password -->
                  <input id="remember" type="checkbox">
                  <label for="remember">Remember password</label>
                  
                </div>
                <button type="submit" class="btn btn-primary">Login</button><hr>
                <!-- Give the appropriate route here to route to SignupComponent -->
                <a routerLink="/signup">New user..? Register Here!!</a>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
