<div class="row" style="text-align:center;">
    <!-- <div class="col-md-3  " id="infoCard" > -->
    
    <div class="card col-md-3 offset-1 mt-5" style="background-color: burlywood;">
        <div class="card-body">
            <h4 class="card-title">ADDRESS</h4>
            <hr>
            <p>Infosys, Mysore</p>
        </div>
    </div> &nbsp;&nbsp;&nbsp;
   
    <div class="card col-md-3  mt-5" style="background-color: burlywood;">
        <div class="card-body">
            <h4 class="card-title">Email</h4>
            <hr>
            <a href="">ETA_FP_UI_TEAM@infosys.com</a>
        </div>
    </div> &nbsp;&nbsp;&nbsp;
   
    <div class="card col-md-3   mt-5" style="background-color: burlywood;">
        <div class="card-body">
            <h4 class="card-title">PHONE</h4>
            <hr>
            <p>+91 9134567890</p>
        </div>
    </div>

</div>
