<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #461057;">

  <a class="navbar-brand" href="/list-emp"><img src="assets\logonew.png" alt="{{ title }}" style="height: 60px; width: 120px;margin-left: 30px;"></a>

  <!-- <a class="navbar-brand" href="/list-emp"><img src="https://scontent.fidr4-3.fna.fbcdn.net/v/t39.30808-6/371059373_3326435944298070_984084667355181561_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=zraxcsPHLGgAX_vaYaP&_nc_ht=scontent.fidr4-3.fna&oh=00_AfCKTxNthKPZ2DbqKQONsJaXQ8emizN8CUO0IQ3GNp72qw&oe=64EF114D" alt="{{ title }}" style="height: 60px; width: 180px; margin-left: 30px;"></a> -->

  <h3 style="color: bisque;">Welcome {{empService.userName}}</h3>

  <header><h1 style="margin-left: 300px; font-family: 'Times New Roman'; font-size: 2em; font-weight: bold; color: bisque;">Employee Dashboard</h1></header>

  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mainNavBar">

    <span class="navbar-toggler-icon"></span>

  </button>

 

  <div class="collapse navbar-collapse " id="mainNavBar">

    <ul class="navbar-nav ms-auto">

     

      <!-- <li class="nav-item"><button class="nav-link" (click)="addEmp()" class="btn btn-primary" style="margin-right: 10px;">Add Employee</button></li>

       -->

      <li class="nav-item"><button class="nav-link" class="btn btn-danger" routerLink="/login" style="margin-right: 30px;">Logout</button></li>

    </ul>

  </div>

</nav>
<div class="alert alert-success alert-dismissible" role="alert" *ngIf="alertswitch">

  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>

  Employee details updated successfully!

</div>

 

<div class="alert alert-success alert-dismissible" role="alert" *ngIf="alertswitch1">

  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>

  Employee added successfully!

</div>

 

<div class="alert alert-success alert-dismissible" role="alert" *ngIf="alertswitch2">

  <button type="button" class="btn-close" data-bs-dismiss="alert" ></button>

  Employee deleted successfully!

</div>

 

<div class="alert alert-success alert-dismissible" role="alert" *ngIf="alertswitch3">

  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>

  Login successfull!

</div>

<body style="overflow-y: auto;">

<div>

<!-- <h2 class="text-center"> Employee List </h2> -->

<ul class="navbar-nav">

  <li class="nav-item">

    <input type="text" style="border-radius: 10px; margin-left: 90px; margin-bottom: 20px;" (keyup)="applyFilter($event)" placeholder="Search" name="search" #input>

    <button class="nav-link" (click)="addEmp()" class="btn btn-primary" style="margin-left: 780px; margin-top: 10px;">Add Employee</button>

  </li>

</ul>

 



 

<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort>

 

    <!-- ID Column -->

    <ng-container matColumnDef="id">

      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>

      <td mat-cell style="text-align: right;padding-right: 10px;width: 2%;" *matCellDef="let row"> {{row.id}} </td>

    </ng-container>

 

    <!-- Progress Column -->

    <ng-container matColumnDef="employee_name">

      <th mat-header-cell style="padding-left: 80px;" *matHeaderCellDef mat-sort-header> Name </th>

      <td mat-cell style="text-align: center;" *matCellDef="let row"><a (click)="detailsEmp(row)" style="text-decoration: underline; color: blue;"> {{row.employee_name}} </a></td>

    </ng-container>

 

    <ng-container matColumnDef="department">

      <th mat-header-cell style="padding-left: 80px;" *matHeaderCellDef mat-sort-header> Dept. </th>

      <td mat-cell style="text-align: center;" *matCellDef="let row"> {{row.department}} </td>

    </ng-container>

 

    <ng-container matColumnDef="designation">

      <th mat-header-cell style="padding-left: 80px;" *matHeaderCellDef mat-sort-header> Desig. </th>

      <td mat-cell style="text-align: center;" *matCellDef="let row"> {{row.designation}} </td>

    </ng-container>

 

    <ng-container matColumnDef="emailid">

      <th mat-header-cell style="padding-left: 80px;" *matHeaderCellDef mat-sort-header> Email </th>

      <td style="text-align: center; color:blue; font-weight: bold;" mat-cell  *matCellDef="let row"> {{row.emailid}} </td>

 

    </ng-container>

 

    <ng-container matColumnDef="action">

      <th mat-header-cell style="padding-left: 80px;" *matHeaderCellDef mat-sort-header> Action </th>

      <td mat-cell *matCellDef="let row">

        <button mat-icon-button style="margin-left: 65px;" (click)="editEmp(row)" color="primary">

          <mat-icon>edit</mat-icon>

        </button>

        <button mat-icon-button (click)="deleteEmployee(row.id)" color="warn">

          <mat-icon>delete</mat-icon>

        </button>

      </td>

    </ng-container>

 

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

 

    <!-- Row shown when there is no matching data. -->

    <tr class="mat-row" *matNoDataRow>

      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>

    </tr>

  </table>

 

   <mat-paginator style="margin-left: 90px; margin-right: 69px; margin-bottom: 30px;" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of users"></mat-paginator>

 

  </div>

</div>

</body>