<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #461057;">
  <a class="navbar-brand" href="/list-emp"><img src="assets\logonew.png" alt="{{ title }}" style="height: 60px; width: 120px;margin-left: 30px;"></a>
  <!-- <a class="navbar-brand" href="/list-emp"><img src="https://scontent.fidr4-3.fna.fbcdn.net/v/t39.30808-6/371059373_3326435944298070_984084667355181561_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=zraxcsPHLGgAX_vaYaP&_nc_ht=scontent.fidr4-3.fna&oh=00_AfCKTxNthKPZ2DbqKQONsJaXQ8emizN8CUO0IQ3GNp72qw&oe=64EF114D" alt="{{ title }}" style="height: 60px; width: 180px;margin-left: 30px;"></a> -->
  <header><h1 style="margin-left: 380px; font-family: 'Times New Roman'; font-size: 2em; font-weight: bold; color: bisque;">Edit Employee Form</h1></header>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mainNavBar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="mainNavBar">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><button class="nav-link" class="btn btn-danger" routerLink="/login" style="margin-right: 30px;">Logout</button></li>
    </ul>
  </div>
</nav>

<div class="col-md-6">  

  <!-- <h2 class="text-center">{{empformlabel}}</h2>   -->

  <form [formGroup]="editForm" novalidate class="form">  

    <div class="form-group">  

      <label for="empId">Employee Id:</label>  

      <input type="number" formControlName="id" ngModel="{{empService.id}}" name="empId" class="form-control" id="empId" readonly>

      <!-- <div class="alert  alert-danger" *ngIf="editForm.get['employee_name'].errors && addForm.get['employee_name'].touched"></div>  -->

    </div>  

 

    <div class="form-group">  

      <label for="empName">Employee Name:</label>  

      <input pattern="[A-Z]{1}[A-Za-z ]*" formControlName="employee_name" ngModel="{{empService.employee_name}}" name="empName" class="form-control" id="empName">  

      <!-- <div class="alert  alert-danger" *ngIf="editForm.get('employee_name').errors && addForm.get('employee_name').touched">   -->

        <div class="alert  alert-danger" *ngIf="addForm.controls['employee_name'].errors && addForm.controls['employee_name'].touched">

        Employee Name is required.* 

      </div>  

    </div>  

 

    <div class="form-group">  

      <label for="designation">Designation:</label>  

      <input formControlName="designation" ngModel="{{empService.designation}}" name="designation" class="form-control" id="designation">  

      <!-- <div class="alert  alert-danger" *ngIf=" editForm.get('designation').errors && addForm.get('designation').touched">   -->

        <div class="alert  alert-danger" *ngIf="addForm.controls['designation'].errors && addForm.controls['designation'].touched">

        Field is required.*   

      </div>  

    </div>



    <div class="form-group">  

      <label for="department">Department:</label>  

      <input formControlName="department" ngModel="{{empService.department}}" name="department" class="form-control" id="department">  

      <!-- <div class="alert  alert-danger" *ngIf="editForm.get('department').errors && addForm.get('department').touched"> -->

        <div class="alert  alert-danger" *ngIf=" addForm.controls['department'].errors && addForm.controls['department'].touched">

        Field is required.*  

      </div>

    </div>  



   

    <div class="form-group">  

      <label for="emailid">Email:</label>  

      <input type="email" pattern=".+gmail\.com" formControlName="emailid" ngModel="{{empService.emailid}}" name="emailid" class="form-control" id="emailid">  

      <!-- <div class="alert  alert-danger" *ngIf="editForm.get('emailid').errors && addForm.get('emailid').touched">   -->

        <div class="alert  alert-danger" *ngIf=" addForm.controls['emailid'].errors && addForm.controls['emailid'].touched">

        Field is required.*    

      </div>  

    </div>

    <div class="form-group">  

      <label for="salary">Salary:</label>  

      <input type= "number" formControlName="salary" ngModel="{{empService.salary}}" name="salary" class="form-control" id="salary">  

      <div style="color: red;" *ngIf="addForm.controls['salary'].errors && addForm.controls['salary'].touched">  

        Salary is required.*  

      </div>

    </div>  

    <div class="form-group">  

      <label for="mobileNumber">Mobile Number:</label>  

      <input type= "number" pattern="[0-9]{10}" size="10" formControlName="mobileNumber" ngModel="{{empService.mobileNumber}}" name="mobileNumber" class="form-control" id="mobileNumber">  

      <div style="color: red;" *ngIf="addForm.controls['mobileNumber'].errors && addForm.controls['mobileNumber'].touched">  

        MObile Number is required.*  

      </div>

    </div> 

     <button style="margin-top: 10px;" class="btn btn-primary" [disabled]='editForm.invalid' (click)="onUpdate()">Update</button>  

     <button style="margin-top: 10px;" class="btn btn-danger" routerLink="/list-emp">Close</button>

     <button type="reset" style="margin-top: 10px;margin-bottom: 40px;" class="btn btn-danger" >Reset</button>

 

    <!-- <p>Form value: {{ editForm.value | json }}</p>     -->

  </form>  

</div>  