<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #461057;">
  <a class="navbar-brand" href="/list-emp"><img src="assets\logonew.png" alt="{{ title }}" style="height: 60px; width: 120px;margin-left: 30px;"></a>
  <header><h1 style="margin-left: 380px; font-family: 'Times New Roman'; font-size: 2em; font-weight: bold; color: rgb(19, 176, 248);">Add Employee Form</h1></header>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mainNavBar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="mainNavBar">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><button class="nav-link" class="btn btn-danger" routerLink="/login" style="margin-right: 30px;">Logout</button></li>
    </ul>
  </div>
</nav>

<div class="col-md-6">  

  <!-- <h2 class="text-center">Add Employee</h2> -->

  <form [formGroup]="addForm" novalidate class="form">  

    <div class="form-group">  

      <label for="empId">Employee Id:</label>  

      <input type="number" formControlName="id" placeholder="Id" name="empId" class="form-control" id="empId">  

      <div style="color: red;" *ngIf="addForm.controls['employee_name'].errors && addForm.controls['employee_name'].touched">  

        Employee id is required.*  

      </div>

    </div>  

 

    <div class="form-group">  

      <label for="empName">Employee Name:</label>  

      <input pattern="[A-Z]{1}[A-Za-z ]*" formControlName="employee_name" placeholder="Employee Name" name="empName" class="form-control" id="empName">  

      <div style="color: red;" *ngIf="addForm.controls['employee_name'].errors && addForm.controls['employee_name'].touched">  

        Employee Name is required.*  

      </div>

    </div>  

   

    <div class="form-group">  

      <label for="designation">Designation:</label>

       <!-- <select #select placeholder="designation" name="designation" class="form-control" id="designation">

        <option value ="0">--Select Designation--</option>

        <option value ="1">System Engineer</option>

        <option value ="2">Senior System Engineer</option>

        <option value ="3">Technology Lead</option>

        <option value ="3">Project Manager</option>

        <option value ="3">Associate Consultant</option>

        </select>    -->

      <input formControlName="designation" placeholder="Designation" name="designation" class="form-control" id="designation">   

      <div style="color: red;" *ngIf="addForm.controls['designation'].errors && addForm.controls['designation'].touched">  

        Designation is required.*

      </div>  

    </div>  

 

    <div class="form-group">  

      <label for="department">Department:</label>  

       <!-- <select #select placeholder="department" name="department" class="form-control" id="department">

        <option value ="0">--Select Department--</option>

        <option value ="1">IVS</option>

        <option value ="2">DX</option>

        <option value ="3">ADM</option>

        <option value ="3">SAP</option>

        <option value ="3">ORACLE</option>

        </select>  -->

      <input formControlName="department" placeholder="Department" name="department" class="form-control" id="department">   

      <div style="color: red;" *ngIf=" addForm.controls['department'].errors && addForm.controls['department'].touched">  

        Department field is required.*

      </div>  

    </div>  



    <div class="form-group">  

      <label for="emilid">EmailId:</label>  

      <input type="email" pattern=".+gmail\.com" formControlName="emailid" placeholder="Email Id" name="emailid" class="form-control" id="emailid">  

      <div style="color: red;" *ngIf=" addForm.controls['emailid'].errors && addForm.controls['emailid'].touched">  

        EmailId is required.* 

      </div>  

    </div>  

    <div class="form-group">  

      <label for="salary">Salary:</label>  

      <input type= "number" formControlName="salary" placeholder="Salary" name="salary" class="form-control" id="salary">  

      <div style="color: red;" *ngIf="addForm.controls['salary'].errors && addForm.controls['salary'].touched">  

        Salary is required.*  

      </div>

    </div>  

    <div class="form-group">  

      <label for="mobileNumber">Mobile Number:</label>  

      <input type= "number" pattern="[0-9]{10}" size="10" formControlName="mobileNumber" placeholder="Mobile Number" name="mobileNumber" class="form-control" id="mobileNumber">  

      <div style="color: red;" *ngIf="addForm.controls['mobileNumber'].errors && addForm.controls['mobileNumber'].touched">  

        MObile Number is required.*  

      </div>

    </div>  

    

    <button class="btn btn-success" (click)="onSubmit()" [disabled]="addForm.invalid" >save</button>  

    <button style="margin-top: 10px;" class="btn btn-danger" routerLink="/list-emp">Close</button>

    <button type="reset" style="margin-top: 10px;margin-bottom: 40px;" class="btn btn-danger" >Reset</button>
     <!-- <p>Form value: {{ addForm.value | json }}</p>   -->

  </form>  

</div>

