<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #461057;">
    <a class="navbar-brand" href="/list-emp"><img src="assets\logonew.png" alt="{{ title }}" style="height: 60px; width: 120px;margin-left: 30px;"></a>
    <!-- <a class="navbar-brand"><img src="https://scontent.fidr4-3.fna.fbcdn.net/v/t39.30808-6/371059373_3326435944298070_984084667355181561_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=zraxcsPHLGgAX_vaYaP&_nc_ht=scontent.fidr4-3.fna&oh=00_AfCKTxNthKPZ2DbqKQONsJaXQ8emizN8CUO0IQ3GNp72qw&oe=64EF114D" alt="{{ title }}" style="height: 60px; width: 180px; margin-left: 30px;"></a> -->
    <header><h1 style="margin-left: 400px; font-family: 'Times New Roman'; font-size: 2em; font-weight: bold; color: bisque;">Employee Portal</h1></header>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mainNavBar">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="login-page">

    <!-- <div class="alert alert-success alert-dismissible" role="alert" *ngIf="confirmation">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        SignUp successfull!!!
    </div> -->

    <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="alertswitch4">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        Invalid User!! 
      </div>

    <div class="form">
            <div class="login">
                <div class="login-header">
                  <h3 style="text-align: center; font-weight: bold;">LOGIN</h3>
                  <p>Please enter your credentials to login.</p>
                </div>
              </div>
            <div class="panel-body padding">
                <form class="login-form" [formGroup]="loginForm">
                    <div class="form-group" >
                        <label for="name" class="col-xs-4 control-label" style="text-align:left">User Name: *</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" placeholder="User Name" [ngClass]="{'is-invalid':submitted && loginForm.controls.errors}" formControlName="userName">
                            <!-- <div *ngIf="loginForm.controls['password'].errors && loginForm.controls['userName'].dirty">
                                <div *ngIf="loginForm.controls['userName'].errors?.['required']" style="color:red">
                                    UserName is required
                                </div>
                            </div> -->
                            <div *ngIf="submitted && loginForm.controls.userName.errors" class="text-danger" >
                                <div *ngIf="loginForm.controls.userName.errors.required">UserName Required.*</div>
                            </div>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label for="password" class="col-xs-4 control-label" style="text-align:left">Password: *</label>
                        <div class="col-xs-8">
                            <input type="password" placeholder="Password" class="form-control" [ngClass]="{'valid':loginForm.controls['password'].valid, 'invalid':loginForm.controls['password'].invalid && !loginForm.controls['password'].pristine}" formControlName="password">
                            <!-- <div *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].dirty">
                                <div *ngIf="loginForm.controls['password'].errors?.['required']" style="color:red">
                                    Password is required.*
                                </div>
                            </div> -->
                            <div *ngIf="submitted && loginForm.controls.password" class="text-danger" >
                                <div *ngIf="loginForm.controls.password.errors">Password Required. *</div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <span class="col-xs-4"></span>
                        <div class="col-xs-3">
                            <button (click)="onSubmit()" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                            <br/>
                            <br/>
                            <button style="background-color: #ffae00;" class="btn" routerLink="/signup">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
